.grid{
    padding: 0 10px;
}

.grid__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin-left: -20px;
}

.grid__item{
    width: 30%;
    min-width: 200px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.grid__name {
    min-height: 54px;
    font-size: 18px;
    font-weight: 500;
}

.grid__image {
    width: 200px;
    height: 320px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.grid__image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.grid__price{
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: 500;
    white-space: nowrap;
}
